.illia-photo {
  width: 300px;
  height: 300px;
}
.illia-block {
  display: flex;
  flex-direction: column;
}
.name {
  font-family: 'Arial', sans-serif; /* Choose your preferred font-family */
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Use 'normal' or 'bold' as desired */
  color: #333; /* Set your preferred text color */
  margin-bottom: 10px; /* Adjust spacing as needed */
  /* Add more styles as per your design requirements */
}